body {
    margin: 0;
    font-family: "EB Garamond", serif;
    font-size: 15px;
    color: #000;
    line-height: 1.5;
    background: #000; /* Установить цвет фона черным */
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.header-container {
    background-image: url('../images/head-background.png'); /* Добавить фоновое изображение для шапки и контейнера */
    background-size: cover;
    background-position: center top; /* Убедиться, что фоновое изображение покрывает контейнер и шапку */
    background-repeat: no-repeat; /* Предотвратить повторение фонового изображения */
    height: 100vh; /* Убедиться, что фоновое изображение покрывает всю высоту окна */
    position: relative;
}

.header-container::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh; /* Расширить градиент, чтобы покрыть остальную часть окна */
    background: linear-gradient(to bottom, #050417, #000); /* Плавный переход от #050417 к черному */
    z-index: -1; /* Разместить градиент за содержимым */
}

header {
    background-color: rgba(128, 128, 128, 0.2); /* Изменить цвет фона шапки на серый с 20% прозрачностью */
    padding: 10px 0;
    color: white; /* Изменить цвет текста на белый */
    /* Удалить нижнюю границу, чтобы скрыть белую линию */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: white; /* Изменить цвет текста, если необходимо */
    text-align: center; /* Выровнять текст по центру */
}

.container h1 {
    font-size: 2em; /* Уменьшить размер шрифта */
    margin: 0; /* Убрать отступы */
    padding: 20px 0; /* Добавить отступы сверху и снизу */
    display: inline-block; /* Сделать элемент блочным */
    text-align: center; /* Выровнять текст по центру */
    line-height: 1.2; /* Настроить высоту строки для лучшего интервала */
}

.group-name {
    display: block; /* Сделать название группы блочным элементом, чтобы переместить его на новую строку */
    margin-top: 10px; /* Добавить немного пространства над названием группы */
    font-size: 1.2em; /* Уменьшить размер шрифта названия группы */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Выровнять по вертикали */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white; /* Изменить цвет текста на белый */
    font-weight: bold;
    font-size: 15px; /* Увеличить размер вкладок до 15px */
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgba(51, 51, 51, 0.2); /* Изменить цвет фона подвала на #333 с 20% прозрачностью */
    padding: 10px 0;
    border-top: 1px solid #ddd;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white; /* Изменить цвет текста на белый */
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer nav ul li {
    margin: 0 15px;
}

footer nav ul li a {
    text-decoration: none;
    color: white; /* Изменить цвет текста на белый */
    font-weight: bold;
}

footer nav ul li a:hover {
    text-decoration: underline;
}

.collapsible-container {
    background-color: rgba(128, 128, 128, 0.5); /* Полупрозрачный серый фон */
    border-radius: 10px; /* Скругленные углы */
    padding: 20px;
    margin: 40px auto; /* Увеличить отступ между плитками */
    max-width: 600px; /* Сделать плитку уже */
    color: white; /* Изменить цвет текста на белый */
    text-align: center; /* Выровнять текст по центру */
    position: relative;
    top: -160px; /* Настроить позицию, чтобы немного опустить */
    font-size: 16px; /* Немного уменьшить размер текста */
}

.collapsible-header {
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapsible-header::after {
    content: '▼'; /* Добавить стрелку */
    margin-left: 10px;
    transition: transform 0.3s ease; /* Добавить переход для вращения */
}

.collapsible-header.active::after {
    transform: rotate(180deg); /* Повернуть стрелку при активном состоянии */
}

.collapsible-content {
    display: none;
    padding-top: 10px;
    text-align: left; /* Выровнять текст по левому краю */
}

.collapsible-content ul {
    list-style-type: none;
    padding: 0;
}

.collapsible-content li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Добавить немного пространства между элементами списка */
}

.collapsible-content li:first-child {
    font-size: 18px; /* Увеличить размер шрифта для заголовков рангов */
    font-weight: bold; /* Сделать заголовки рангов жирными */
    margin-top: 20px; /* Добавить пространство над заголовками рангов */
}

.rank-header {
    font-size: 18px; /* Размер шрифта для заголовков рангов */
    font-weight: bold; /* Сделать заголовки рангов жирными */
    margin-top: 20px; /* Добавить пространство над заголовками рангов */
}

.collapsible-content .rank {
    font-size: 18px; /* Размер шрифта для рангов */
    text-align: left; /* Выровнять ранги по левому краю */
    flex: 1; /* Сделать ранги отдельной колонкой */
    margin-left: 10px; /* Сдвинуть ранги немного вправо */
}

.collapsible-content .nickname {
    font-size: 18px; /* Размер шрифта для никнеймов */
    text-align: left; /* Выровнять никнеймы по левому краю */
    flex: 2; /* Сделать никнеймы отдельной колонкой */
    font-weight: bold; /* Сделать никнеймы жирными */
}

.collapsible-content a {
    color: #84b3f1; /* Изменить цвет гиперссылок на #84b3f1 */
    text-decoration: none; /* Убрать подчеркивание */
    font-size: 18px; /* Размер шрифта для никнеймов */
    font-weight: bold; /* Сделать никнеймы жирными */
    position: relative;
}

.collapsible-content a:hover::after {
    content: attr(data-tooltip); /* Использовать атрибут data-tooltip для содержимого всплывающей подсказки */
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
    font-size: 12px;
    margin-bottom: 5px;
}

/* Общие классы для плиток */
.tile-header {
    font-size: 22px; /* Размер шрифта для заголовков плиток */
    font-weight: bold; /* Сделать заголовки плиток жирными */
}

.tile-inner-header {
    font-size: 18px; /* Размер шрифта для внутренних заголовков */
    font-weight: bold; /* Сделать внутренние заголовки жирными */
}

.tile-content {
    font-size: 17px; /* Размер шрифта для содержимого плиток */
    font-weight: bold; /* Сделать содержимое плиток жирным */
}