body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
    font-size: 15px;
    line-height: 1.5;
    color: white;
    background-color: #1a1a1a;
}

/* Good color #101010 / #1a1a1a */
.welcome {
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    color: white;
}

.welcome h1 {
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 2.5rem;
}

.welcome-message {
    display: block;
    margin: 0 auto;
    padding: 1rem;
    font-size: 2.8rem;
}

/* Collapsible tile [AI] */
.collapsible {
    width: 100%;
    max-width: 65%;
    margin: 1rem auto;
    font-size: 1.5rem;
}

.collapsible input[type="checkbox"] {
    display: none;
}
.collapsible label {
    display: block;
    background: #1e44eb;
    color: white;
    padding: 0.333rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1rem;
}
.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
    opacity: 0;
    background: #f1f1f1;
    padding: 0 10px;
    border-radius: 5px;
    color: black;
    margin-bottom: 1rem;
}
.collapsible input[type="checkbox"]:checked ~ .collapsible-content {
    max-height: 50rem;
    opacity: 1;
    padding: 10px;
}
.collapsible-text {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}
.collapsible-header {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0;
}
.collapsible-header2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.5rem 0;
}

/* Rank formatting */

.admin {
    display: block;
    line-height: 2;
    font-size: 1.2rem;
    font-weight: 500;
    color: #79abf1;
}